body {
  background-image: url("../images/Ghana.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.intro {
  text-align: justify;
  margin: auto;
  margin-top: 125px;
  margin-left: 100px;
  margin-right: 100px;
}

#akanStatue {
  width: inherit;
  height: 500px;
  border-radius: 100pc;
}
